@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');

@import "navbar.scss";
@import "products.scss";
@import "panier.scss";
@import "foot.scss";



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}