

.products {

    h1 {
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
    }
    
    div {

        .grid-item {
            background-color: rgb(231, 227, 220);

            h2 {
                font-family: 'Playfair Display', serif;
            }

            button {
                font-family: 'Roboto', sans-serif;

            }

            .price {
                position: absolute;
                top: -0.6em;
                right: 0.5em;
                background-color: beige;
                padding: 1em;
                border-radius: 10px;
            }

        }
    }

    @keyframes modalAppear {
        from {
            transform: scale(0);
          }
        
          to {
            transform: scale(100%);
          }
    }

    @keyframes modalDisappear {
        from {
            transform: scale(100%);
          }
        
          to {
            transform: scale(0);
          }
    }

    .modaleAppear {
        animation: modalAppear 0.3s ease-in-out;
    }
    .modaleDisappear {
        animation: modalDisappear 0.3s ease-in-out;
    }
    .modale {
        width: 80%;
        margin: auto;
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 7em;
        left: 12em;
        padding: 4em;
        background-color: rgb(236, 217, 200);
        z-index: 1;
        border-radius: 40px;

        @media (min-width:640px) and (max-width:1024px) { 
            flex-direction: column;
            width: 90%;
            top: 2em;
            left: 2em;
        }

        .cross-modale {
            position: absolute;
            top: 1.5em;
            left: 2em;
            font-size: 30px;
            color: rgb(158, 66, 66);
        }
        article {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (min-width:640px) and (max-width:1024px) { 
                width: 100%;
            }

            h2 {
                font-family: 'Playfair Display', serif;
                font-size: 50px;
                margin: 1em;
            }
            p {
                font-family: 'Roboto', sans-serif;
            }

        }

        img {
            width: 40%;
            height: auto;

            @media (min-width:640px) and (max-width:1024px) { 
                margin: 1em auto;
                width: 40%;
            
            }
        }
    }
}